/SortBigDataApp/SortBigDataApp/bin/
/SortBigDataApp/SortBigDataApp/obj
/SortBigDataApp/.vs/
/GenerateBigDataApp/.vs
/GenerateBigDataApp/GenerateBigDataApp/bin/
/GenerateBigDataApp/GenerateBigDataApp/obj/
